h1{
  font-size: 36px;
}

h2{
  font-size: 24px;
}

h3{
  font-size: 20px;

}

h4{
  font-size: 16px;
}

h5{
  text-align: center;
}

.w-100 {
  width: 100% !important;
  height: auto;
  margin: auto;
}

.h-200 {
  width: 50% !important;
  height: 70%;
  margin: auto;
}

.topicos_footer a{
    color: #292b2c ;
  margin-left: 10px;
  margin-right: 10px;
}

.row_logos{
  background-color: #f9f9f9;
}

footer{
  background-color: #f9f9f9;
  margin-top: 30px;
  text-align: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.col-md-4{
	text-align: center;
}

.col-sm{
  text-align: center;
}

.tabela_reviews{
  text-align: center;
}

.texto_logos{
    padding-top: 1rem;
    font-size: 0.8725rem;
    line-height: 1rem;
    color: rgb(0, 0, 0);
    width: 100%;
}

.p30{
	padding-top: 15px;
	padding-bottom: 15px;
}

.p15top{
	padding-top: 15px;
}

.product-section{
	padding-top: 40px;
}


.titulo {
  align-items: center;
  text-align: center;
  margin-top: 15px; font-size: 36px;
   font-family: monospace;
}


.Texto {text-align:center;
  margin-left: 470px;
   margin-top: 20px}


body{margin-top:20px;}

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}
